extends layout

block content
  .subhead
    h2= 'Jokerit captains in the KHL'

  .body-ul
    ul
      .body-item
        each winner in winners
         .item
            li= winner.year + ': '
              h4= winner.player

