doctype html
html
  head
    title= 'Jokerit'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') Home
    a(href='/standing') Jokerit standings in KHL
    a(href='/captain') Jokerit captains

    block content
