doctype html
html
  head
    title= 'Jokerit'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/' style={padding: '10px'}) Home
    a(href='/standing' style={padding: '10px'}) Jokerit standings in KHL
    a(href='/captain' style={padding: '10px'}) Jokerit captains

    block content
