extends layout

block content
  .subhead
    h2= 'Jokerit final standings in KHL each year.'

  .body-ul
    form(action="", method="post")
      label Year
        input.form-in(name="year")
      label Placement
        input.form-in(name="team")
      .add
        button Add

